/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@700&family=Manrope&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

p, h1, h2, h3, h4, a {
  font-family: 'Albert Sans', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.keyword {
  /* color: #66abfa !important; */
  font-style: normal !important;
}

.code-block-error-line {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.hero--primary, .heroBanner_src-pages-index-module {
  background-color: #000309;
}

.hero__title, .hero__subtitle {
  color: #b564bd;
}

.featureSvg_src-components-HomepageFeatures-styles-module {
  height: 10px !important;
  width: 10px !important;
}

.footer {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #56B48C;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b564bd;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.shiki.github-light {
  display: none;
}

.shiki[showlinenumbers] code {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki[showlinenumbers] code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}
